apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: bacl
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: bacl
    app.kubernetes.io/part-of: byoc-app-zvvm
  name: bacl
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: java-quarkus-app
      app.kubernetes.io/instance: bacl
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: java-quarkus-app
        app.kubernetes.io/instance: bacl
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/byoc-yvvd-tenant/byoc-app-zvvm/bacl@sha256:70d6a69b038085f3e0e1c0c8f3c66d1acd3c1edbfa432eed0cee20067804a5ce
        name: my-java-quarkus
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 10m
            memory: 100Mi
status: {}
